.parent
{
    -fx-background-color: #1E1E1E;
}

.child
{
    -fx-background-color: #171717;
    -fx-background-radius: 20;
}

.btnLabel
{
    -fx-text-fill: #b82025;
}


.btnLabel:hover
{
    -fx-text-fill: red;
}

.btn
{
    -fx-background-color: #b82025;
    -fx-background-radius: 15;
    -fx-text-fill: white;
}

.btn:hover
{
    -fx-background-color: #171717;
    -fx-background-radius: 15;
    -fx-text-fill: #b82025;
    -fx-border-color: #b82025;
    -fx-border-width: #b82025;
    -fx-border-width: #b82025;
    -fx-border-radius: 15;
    
}

.txtField
{
    -fx-text-fill: white;    
}


.hover_border:hover
{
    -fx-border-color: red;
    -fx-border-width: 0px 0px 0px 5px;
    -fx-background-color: #b82025;
    -fx-cursor: hand;
}

.role
{
    -fx-border-color: #b82025;
    -fx-border-width: #b82025;
    -fx-border-width: #b82025;
    -fx-border-radius: 15;
    
}
